<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="Keywords" content="Mantid, ParaView, Vates" />

<meta name="Description" content="The Mantid project provides a framework that supports high-performance computing and visualisation 
of scientific data. Mantid has been created to manipulate and analyse Neutron and Muon scattering data, but could be applied to many 
other techniques. The framework is open source and supported on multiple target platforms (Windows, Linux, Mac)."/>

<title>Mantid - High Performance Computing & Visualisation</title>

<link rel="icon" type="image/png" href="{{ STATIC_URL }}images/MantidPlot_Icon_32offset.ico"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/mantidproject.css"/>
</head>

<body>
 <h1 id="logoheader">
    <a href="www.mantidproject.org" id="logolink" accesskey="1">
    <img  id="logo" src="{{ STATIC_URL }}images/Mantid_Logo_Transparent.png" alt="Mantid logo" border=0/></a>
 </h1>
 <div id="content-body">
  <div id="body-main">
  <div id="content">
     <div id="header-overlay">
     </div>
    <div class="release-green">
     <h2>Mantid {{ current_version }}</h2>
     <p>Release Date: {{ release_date }}</p>
     <p><a href="http://www.mantidproject.org/{{ release_notes_page }}">Release notes</a></p>
     
     <p>Source code: <a href="link.download">mantid-2.4.0-Source.tar.gz</a></p>
    
     <p>Installers:</p>
      <table bgcolor="#000000" cellspacing="1" width="100%">
      <tbody>
      <tr>
      <td><table bgcolor="#ffffff" border="0" cellspacing="0" width="100%" class="release-table">

      <tbody>
      <tr bgcolor="#e0e0e0">
      <td><strong>Platform</strong></td>
      <td><strong>Files</strong></td>
      </tr>

      <tr bgcolor="#f0f0f0">
      <td>64-bit Windows 7</td>
      <td><a href="link.download">Mantid-2.4.0-win64.exe</a></td>
      </tr>
      <tr bgcolor="#f0f0f0">
      <td></td>
      <td><a href="link.download">Paraview-3.1.10-win64.exe</a></td>
      </tr>

      <tr>
      <td>32-bit Windows XP</td>
      <td><a href="link.download">Mantid-2.4.0-win32.exe</a></td>
      </tr>
      <tr>
      <td></td>
      <td><a href="link.download">ParaView-3.1.10-win32</a></td>
      </tr>

      <tr bgcolor="#f0f0f0">
      <td>RedHat 6</td>
      <td><a href="link.download">mantid-2.4.0-1.el6.x86_64.rpm</a></td>
      </tr>
      <tr bgcolor="#f0f0f0">
      <td></td>
      <td><a href="link.download">paraview-3.10.1-4.el6.x86_64.rpm</a></td>
      </tr>

      <tr>
      <td>Ubuntu 12.04</td>
      <td><a href="link.download">mantid_2.4.0-1_amd64.deb</a></td>
      </tr>
      <tr>
      <td></td>
      <td><a href="link.download">ParaView-3.10.1-Linux-x86_64.deb</a></td>
      </tr>

      <tr bgcolor="#f0f0f0">
      <td>Mac OS X</td>
      <td><a href="link.download">mantid-2.4.0-SnowLeopard.dmg</a></td>
      </tr>
      <tr bgcolor="#f0f0f0">
      <td></td>
      <td><a href="link.download">ParaView-3.10.1-Darwin-x86_64.dmg</a></td>
      </tr>

      </tbody></table>
      </tbody></table>

</div>

    </div>
  </div>
 </div>

</body>
</html>